.App {
  text-align: center;
}

.App-header {
  background-color: #3481fdec;
  padding: 30px;
  color: antiquewhite;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.card {
  position: relative;
  top: 100px;
  background-color: rgb(226, 226, 226);
  width: 300px;
  height: 450px;
  box-shadow: 40px 40px 10px 0px rgba(110, 0, 110, 0.863);
  border-radius: 15px;
  cursor:grab;
  margin: auto;
}

.reviewCard {
  position: relative;
  left: 430px;
  top: 50px;
  background-color: rgb(226, 226, 226);
  width: 300px;
  height: 450px;
  box-shadow: 40px 40px 10px 0px rgba(110, 0, 110, 0.863);
  border-radius: 15px;
  cursor:grab
  
}

.thanksCard {
  position: relative;
  left: 430px;
  top: 50px;
  background-color: rgb(226, 226, 226);
  width: 300px;
  height: 300px;
  box-shadow: 40px 40px 10px 0px rgba(110, 0, 110, 0.863);
  border-radius: 15px;
  cursor:grab

}

.reviewTable {
  background-color: rgb(194, 194, 194);
  padding-top: 5px;
  padding-bottom: 5px;
}
/* buttons==================================================== */

.button {
  background-color: rgba(126, 126, 126, 0.342);
  border-color: rgba(255, 0, 212, 0.294);
  border-radius: 5px;
  cursor: pointer;

}

.reviewButton {
  padding: 5px;
  margin-top: 30px;
  background-color: rgba(126, 126, 126, 0.342);
  border-color: rgba(255, 0, 212, 0.294);
  border-radius: 5px;
  cursor: pointer;
}

.thanksButton {
  padding: 5px;
  margin-top: 45px;
  background-color: rgba(126, 126, 126, 0.342);
  border-color: rgba(255, 0, 212, 0.294);
  border-radius: 5px;
  cursor: pointer;
}

/* buttons==================================================== */

.slider {
cursor:grabbing;
}